:root {
  --main-color: #212529;
  --highlight-color: #ffb742;
  --card-color: #292b2e;
  --main-text-color: #fff;
  --secondary-text-color: #d4d4d4;
  --transition: all 0.2s ease-in-out;
  --padding: 30px;
}

body {
  background-color: #e5e5e5;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
  background-color: var(--main-color);
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.header {
  padding: 17px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav-item {
  padding-right: 25px;
}
.main-nav-link {
  text-transform: capitalize;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  transition: var(--transition);
}

.main-nav:last-child {
  padding-right: 0;
}
.hire-btn div {
  padding: 12px 26px;
  background-color: var(--highlight-color);
  border-radius: 50px;
  max-width: max-content;
}
.hire-btn {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
}
.hero {
  margin: 108px auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--main-text-color);
}

.hero h1 {
  font-size: 32px;
  line-height: 1.585;
  font-weight: 700;
}
.hero-highlight {
  color: var(--highlight-color);
  text-decoration: underline;
}
.hero h2 {
  font-size: 48px;
  line-height: 1.89;
  font-weight: 700;
}
.hero h4 {
  font-size: 24px;
  line-height: 2.11;
  font-weight: 400;
  margin-top: 25px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 136px 72px 0;
}
.card {
  align-items: center;
  display: flex;
  width: 32%;
  justify-content: space-between;
  background-color: var(--card-color);
  font-size: 32px;
  line-height: 1.26;
  font-weight: 700;
  padding: calc(var(--padding) - 5px) var(--padding);
  box-sizing: border-box;
  border-radius: 10px;
  transition: var(--transition);
}
.card-content > div:first-child {
  color: var(--highlight-color);
}
.card-description {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.93;
}
.card:hover {
  background-color: var(--highlight-color);
}
.card:hover .card-content > div {
  color: var(--main-color);
}
.about {
  display: flex;
  margin-top: 220px;
}
.photo {
  padding: 33px 0 31px;
  max-width: 48%;
}
.photo img {
  width: 100%;
}
.content {
  margin: 0 51px;
  max-width: 49%;
}
.content :not(:first-child) {
  padding: 0 10px;
}
.sup-heading {
  width: max-content;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--highlight-color);
  background: rgba(255, 255, 255, 0.08);
  padding: 6px 25px;
  border-radius: 50px;
  text-transform: uppercase;
}
.heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.166;
  color: var(--main-text-color);
}
.text-content {
  color: #d4d4d4;
  line-height: 1.875;
  font-size: 16px;
  font-weight: 400;
}
.skills {
  margin: 18px 0 0;
  display: flex;
}
.skills-icons {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  align-self: flex-start;
  padding: 0 50px 0 0;
}
.skills-icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383e45;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin: 0 0 16px 0;
  transition: var(--transition);
}
.skills-icons img {
  max-width: 48px;
}
.skills-icons div:hover {
  background: rgba(255, 183, 66, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.featured-works {
  max-width: 1234px;
  margin: 0 auto;
}
.content-center {
  align-items: center;
  flex-direction: column;
  display: flex;
}
.work-nav {
  display: flex;
  justify-content: center;
  margin: 30px auto 20px;
  padding: 0;
}
.work-nav-item {
  margin: 0 12px;
  list-style: none;
  transition: var(--transition);
  border-radius: 3px;
}
.work-nav-item a {
  padding: 5px 20px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
  font-weight: 600;
}
.work-nav-item:hover {
  background-color: var(--highlight-color);
}
.work-nav-item:hover a {
  color: var(--main-color);
}
.work-examples {
  display: flex;
  justify-content: space-between;
}
.work-example {
  max-width: 32%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.work-example img {
  margin: 30px 0 0;
}
.testimonials {
  margin: 135px 0 0;
}
.reviews {
  max-width: 1217px;
  margin: 90px auto 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 253px;
}
.review {
  max-width: 28%;
  background-color: var(--main-text-color);
  border-radius: 8px;
  padding: 0 0 49px 33px;
}
.stars {
  padding: 52px 0 0;
}
.review-text {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 15px;
}
.review-bottom {
  display: flex;
}
.review-bottom > div {
  margin-left: 24px;
}
.customer-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7;
}
.customer-job {
  line-height: 2.125;
}
.footer {
  padding: 130px 50px 93px;
  background-color: #1c1c1c;
  height: 470px;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
}
.footer-left {
  width: 20%;
}
.footer-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--highlight-color);
}
.job {
  margin: 30px 0 0;
  font-weight: 600;
  line-height: 2.02;
  color: #d4d4d4;
}
.footer-right {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.footer-right .main-nav {
  margin: 0 auto;
  line-height: 2.02;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
}
.nav-header {
  color: #f5fbf2;
  font-size: 22px;
  line-height: 1.47;
  font-weight: 700;
  margin: 0 0 13px 0;
}
.footer-right .main-nav-link {
  color: #7b7b7b;
}
.main-nav-link:hover {
  color: var(--highlight-color);
}
.newsletter {
  color: #7b7b7b;
  max-width: 81%;
}
.size {
  max-width: 320px;
}
