body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #fbe4ff;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
.header {
  background-color: #243b93;
  height: 65px;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 10;
}
.nav {
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1320px;
}
.logo {
  height: 50px;
}
.logo a {
  text-decoration: none;
}
.nav-list {
  list-style-type: none;
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
}
.navlink {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16em;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  text-decoration: none;
}
.globe {
  display: flex;
  align-items: center;
}
.lang {
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
}
.heading-background {
  background-color: #bff0ff;
}

.heading {
  height: 85px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  max-width: 1320px;
  margin: 0 auto;
}
.drop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: 57px;
  position: relative;
  margin: 30px 0;
}
.drop-title {
  margin: 0;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.61);
  font-weight: 400;
}
.drop-arrow {
  position: absolute;
  right: 12px;
}
.cards {
  position: relative;
  display: block;
}
.card {
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
  display: flex;
  margin-bottom: 40px;
  position: relative;
  transition: all 0.2ms ease-in-out;
}
.card:hover,
.card:hover .star > svg > path {
  background: #2cbdeb;
  box-shadow: 0px 0px 60px 4px #2cbdeb;
  fill: #fff500;
}

.card-content {
  position: relative;
  height: 68%;
  margin-bottom: 20px;
}
.card-img {
  padding: 33px 30px 21px 52px;
  max-width: 40%;
  height: 100%;
}
.card-header {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: #353c57;
  margin: 14px 0 0;
}
.line {
  margin: 0;
  max-width: 739px;
  border-bottom: 3px solid white;
}
.card-description {
  font-size: 22px;
  color: #202846;
  max-width: 739px;
  min-height: 205px;
  max-height: 90%;
  background-color: #edfbff;
  margin: 0;
  position: relative;
}
.card-description p {
  margin: 10px 0 0;
  padding: 10px 0 0 16px;
  max-width: 82%;
}
.star {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.2ms ease-in-out;
}
.star:hover {
  fill: #000;
}
.btn {
  background-color: #243b93;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 5px 38px 10px;
  border-radius: 30px;
  color: white;
  transition: all 0.2ms ease-in-out;
}
.btn:hover {
  background-color: #ef075b;
}
.detailed {
  position: absolute;
  letter-spacing: 0.07em;
  right: -85px;
  bottom: -10px;
  z-index: 9;
}
.card:hover .detailed {
  background-color: #ef075b;
}
.personal-heading {
  background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
  margin: 0 0 36px;
}
.preferences {
  display: flex;
  background: linear-gradient(
    180deg,
    #859eff 0%,
    rgba(105, 255, 210, 0.5) 100%
  );
}
.personal-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 76px 0;
  position: relative;
}

.preferences-link {
  font-size: 24px;
  color: white;
}

.personal-right {
  display: flex;
}
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 45px 0;
}
.personal-info li {
  max-height: 20%;
}
.about-content {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  color: #353c57;
  margin: 0;
  padding: 2.6% 0;
}
.about-content span {
  font-weight: 400;
}
.cancel {
  display: flex;
  justify-content: center;
}
.cancel-btn {
  margin: 19px 0 31px;
  text-transform: uppercase;
  padding: 10px 49px;
}
.contacts-heading {
  background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
  margin: 25px 0;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 40px 0 0;
  max-height: 190px;
}

.contact-item {
  flex-wrap: wrap;
  list-style-type: none;
  padding-right: 12%;
  box-sizing: border-box;
}
.contacts p {
  font-size: 32px;
  margin: 0;
  padding: 0;
  display: block;
}
.contact-link {
  text-decoration: none;
  font-size: 30px;
  color: #000;
  border-top: 4px solid black;
}
.map {
  max-width: 500px;
  max-height: 290px;
  width: 100%;
  border-radius: 40px;
  margin: 0 0 25px;
  border: 3px solid #243b93;
  box-sizing: border-box;
  overflow: hidden;
}
.footer {
  background-color: #243b93;
  height: 65px;
  position: relative;
}
.copyright {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.16em;
  color: white;
  padding: 25px 0;
}
.up-arrow {
  background-color: rgba(48, 12, 106, 0.3);
  height: 101px;
  width: 101px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 12vw;
  top: 80vh;
  z-index: 11;
  transition: all 0.2s ease-in-out;
}
.up-arrow:hover {
  background-color: rgba(48, 12, 106, 1);
}
