@font-face {
  font-family: "Starjout";
  src: url("./Starjout.ttf") format("truetype");
}

h1 {
  font-family: "Starjout";
  font-weight: 500;
  margin: 0 auto;
  font-size: 60px;
  display: flex;
  justify-content: center;
  line-height: 0.9;
}
