.card-body {
  width: 24vw;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  height: 550px;
}
