body {
  margin: 0;
}
.container {
  width: 70vw;
  margin: 0 auto;
  position: relative;
}
.field {
  position: absolute;
  top: 5.6%;
  left: 3.8%;
  width: 91.7%;
  height: 87.9%;
  z-index: 100;
}
.field-img {
  width: 100%;
}
.left-gate,
.right-gate {
  position: absolute;
  width: 1.6vw;
  height: 4.7vw;
}
.left-gate {
  top: 44.6%;
  left: 1.6%;
}
.right-gate {
  top: 44.6%;
  right: 2.2%;
}
.ball {
  z-index: 300;
  position: absolute;
  width: 2vw;
  top: 47%;
  left: 48.2%;
}
.score {
  z-index: 200;
  position: absolute;
  top: 0vw;
  left: 47.3%;
  font-size: 2.7vw;
  color: red;
  line-height: 2.7vw;
}
