body {
  font-family: "Inika", sans-serif;
  font-weight: 700;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  height: 110px;
  text-align: center;
  padding-top: 25px;
}
.logo {
  font-size: 48px;
  font-family: "M PLUS 1", sans-serif;
  color: #3e45e8;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.1em;
}
.highlight {
  color: #e8c23e;
}
.banner {
  background-image: url(../img/bgrimg.jpg);
  height: 803px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  padding: 206px 0 0 80px;
  box-sizing: border-box;
}
.banner-flag {
  background-image: url(../img/flag.jpg);
  height: 272px;
  background-repeat: no-repeat;
}
.text {
  line-height: 1.57;
  font-size: 48px;
  color: #fff;
  font-style: normal;
  padding-left: 38px;
  width: 80%;
}
.places {
  padding-left: 80px;
}
.h2 {
  font-size: 40px;
  margin-top: 72px;
  font-style: normal;
}
.line {
  padding-top: 25px;
  width: 402px;
  border-bottom: 5px solid #3e45e8;
}
.cards {
  padding: 33px 0 0;
  display: flex;
  flex-direction: row;
}
.card {
  width: 28%;
  margin: 0 21px;
  box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.title {
  font-size: 24px;
  color: #1e8df2;
  line-height: 1.57;
  padding: 10px;
}
.subtitle {
  padding: 0 10px 50px;
  color: #e8c23e;
  line-height: 1.57;
  font-size: 20px;
  font-weight: 400;
}
.card a {
  text-decoration: none;
  color: inherit;
}
.card-img {
  border-radius: 30px 30px 10px 10px;
  width: 100%;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-img {
  margin: 41px 0;
}
.button-link {
  background-color: #2a61f0;
  color: #fff;
  text-decoration: none;
  font-size: 64px;
  line-height: 1.57;
  padding: 10px 92px;
  letter-spacing: 0.06em;
}
.footer {
  margin-top: 21px;
  background-color: #2f4a4b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts,
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social {
  padding-bottom: 27px;
}
.contacts a {
  display: block;
  font-family: "Marcellus SC", serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #a89d9d;
  font-weight: 400;
  text-decoration: none;
}
.contact-mail {
  padding-top: 21px;
}
.contact-tel {
  padding: 21px 0;
}
.social-item {
  display: inline-block;
}
.social-img {
  width: 64px;
  height: 64px;
}
