:root {
  --color-black: #000000;
  --color-green: #29a71e;
  --color-red: #e13535;
  --color-blue: #3675b0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.container {
  width: 755px;
  height: 459px;
  border-radius: 20px;
  background-color: #ffb084;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}
.content {
  display: grid;
  padding: 27px 45px 33px 38px;
  grid-template-columns: 1.3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 18px;
  column-gap: 22px;
  width: 100%;
  box-sizing: border-box;
}
.content > div {
  background-color: #fff;
  border-radius: 20px;
}
/* grid */
.left-top {
  grid-column: 1;
  grid-row: 1/5;
}
.left-bottom {
  grid-column: 1;
  grid-row: 5;
}
.center-top {
  grid-row: 1;
  grid-column: 2/-1;
}
.center {
  grid-row: 2;
  grid-column: 2;
}
.center-bottom {
  grid-row: 3/6;
  grid-column: 2;
}
.right-center {
  grid-row: 2/4;
  grid-column: 3;
}
.right-bottom {
  grid-row: 4/6;
  grid-column: 3;
}
/* styles */
.left-top {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-top li {
  padding-bottom: 14px;
}
.user-name {
  margin: 0 auto;
}
.user-info {
  list-style: none;
  margin: 17px 0 0 25px;
  padding: 0;
}
.photo {
  width: 101px;
  margin: 0 auto;
}
.photo > img {
  width: 100%;
}
.bold-text {
  font-weight: 600;
}

h2 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  padding: 15px 0;
  margin: 0;
}
.credo,
.bio,
.goals,
.companies,
.frustration,
.personality {
  padding: 15px 25px;
}
.credo {
  font-weight: 700;
}
.subheading {
  font-size: 14px;
  font-weight: 700px;
  margin-bottom: 7px;
}
.list {
  padding-left: 20px;
}

.shadow-black {
  box-shadow: 7px 7px 0px var(--color-black);
}
.shadow-green {
  box-shadow: 7px 7px 0px var(--color-green);
}
.shadow-red {
  box-shadow: 7px 7px 0px var(--color-red);
}
.shadow-blue {
  box-shadow: 7px 7px 0px var(--color-blue);
}
.goals > h2 {
  color: var(--color-green);
}
.companies > h2 {
  color: var(--color-blue);
}
.frustration > h2 {
  color: var(--color-red);
}
