@font-face {
  font-family: "Starwars";
  src: url("./Starjedi.ttf") format("truetype");
}

.card-header {
  font-family: "Starwars";
  font-weight: 600;
  color: orange;
  text-shadow: 0 0 20px rgb(247, 221, 183);
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
