:root {
  --main-color: #000000;
  --page-bg-color: #ffffff;
  --form-place-bg-color: rgba(0, 0, 0, 0.5);
  --text-color: #fffcfc;
  --form-bg-color: #e5e5e5;
}

body {
  font-family: "Rosario", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.services,
.contact-us {
  margin-top: 128px;
}
#gallery {
  position: absolute;
  top: 0;
}
.container {
  display: block;
  max-width: 1620px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav {
  height: 129px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
}

.nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.nav li:last-of-type {
  padding-right: 30px;
}
.nav a {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
.content {
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0 0;
  box-sizing: border-box;
}
.content > div {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-imgbox {
  width: 54%;
  padding: 0 20px;
}
.content img {
  width: 100%;
}

.center-imgbox > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.center-imgbox > div:first-child {
  padding-bottom: 20px;
}

.services .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: visible;
}
.left-imgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 80%;
  box-sizing: border-box;
  margin-left: 40px;
}
.left-imgbox div {
  width: 45%;
  text-align: center;
}
.left-imgbox img {
  text-align: center;
  width: 90%;
}
.right-imgbox {
  width: 50%;
  box-sizing: border-box;
}
.right-imgbox img {
  width: 100%;
}

.services h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin: 12px 0 0;
}

.team h2 {
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  margin: 9% 0 8%;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: flex;
  position: relative;
  max-height: 100%;
  border-radius: 2vw;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 20%;
  overflow: hidden;
}
.img-team {
  width: 100%;
}
.name {
  font-family: "Volkhov";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  padding: 50px 0;
  background: rgba(163, 83, 10, 0.7);
  color: #fffafa;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
}
.card:hover .name {
  opacity: 1;
}

.cards:hover .card {
  filter: brightness(60%);
}

.cards:hover .card:hover {
  filter: brightness(100%);
}
.contact-us > .container {
  height: 73vh;
}
.contact-us > .container > div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 110px;
}
.contact-us-left {
  width: 50%;
  margin-right: 35px;
}
.contact-us-right {
  width: 42%;
}
.contact-us-left h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  font-style: italic;
  width: 80%;
  text-align: center;
}
.form {
  background-color: var(--form-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form > div {
  width: 94%;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.map {
  width: 100%;
  height: 100%;
}
input,
textarea {
  border: none;
  font-size: 36px;
  font-weight: 700;
  padding-left: 20px;
}
input::placeholder {
  font-size: 36px;
  font-weight: 700;

  color: var(--form-place-bg-color);
}
.input-name {
  width: 40%;
  height: 80px;
}
.input-email {
  width: 50%;
  height: 80px;
}
.input-message {
  width: 92%;
  height: 210px;
  margin: 45px 0 30px;
}
.footer > div {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}
.footer a,
.footer p {
  color: inherit;
  font-size: 30px;
  text-align: center;
  display: block;
}
h4 {
  color: inherit;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.italic {
  font-style: italic;
}
.contacts {
  width: 30%;
}

.social {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.social a {
  text-align: left;
  font-weight: 600;
  font-style: italic;
}
.social img {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}
/* animation gallery */
.animation-gallery-center-left {
  transform: translate(-250%);
  animation: slide 1s ease-in-out forwards;
}
.animation-gallery-center-right {
  transform: translate(250%);
  animation: slide 1s ease-in-out forwards;
}
.animation-gallery-side-left {
  transform: translate(-150%);
  animation: slide 1s ease-in-out 1s forwards;
}
.animation-gallery-side-right {
  transform: translate(150%);
  animation: slide 1s ease-in-out 1s forwards;
}
@keyframes slide {
  to {
    transform: translate(0%);
  }
}
/* animation circle */
.left-imgbox {
  animation: circle-rotate-block 15s infinite ease-in-out;
}
@keyframes circle-rotate-block {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-circle {
  animation: circle-rotate-compensation 15s infinite ease-in-out;
}
@keyframes circle-rotate-compensation {
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
    height: 100%;
  }
  .content {
    flex-wrap: wrap;
    padding: 20px 0 0;
  }
  .content > div {
    width: 100%;
    justify-content: space-evenly;
  }
  .side-imgbox,
  .center-imgbox {
    width: 40%;
    padding: 0;
  }
  .services .container {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .left-imgbox,
  .right-imgbox {
    width: 100%;
    margin: 0 auto;
  }
  .nav {
    height: 80px;
  }
  .logo {
    width: 62%;
  }
  .nav a {
    font-size: 20px;
  }
  .team h2 {
    font-size: calc(200%);
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
    margin-bottom: 15px;
    border-radius: 4.4vw;
  }
  .name {
    transition: all 1s ease-in-out;
  }
  .contact-us > .container {
    height: 100%;
    margin: 0 auto;
  }
  .contact-us > .container > div {
    display: block;
    margin: 0 auto;
  }
  .contact-us-left {
    width: 95%;
    margin: 0 auto;
  }
  .contact-us-right {
    width: 95%;
    margin: 0 auto;
  }
  .contact-us-left h2 {
    font-size: 34px;
    width: auto;
  }
  .map {
    height: 600px;
  }
  .contacts h4,
  .contacts p,
  .contacts a {
    font-size: calc(120%);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    height: 100%;
  }
  .nav {
    height: 50px;
  }
  .nav ul {
    width: 70%;
  }
  .logo {
    height: 100%;
    width: 100%;
  }
  .nav a {
    font-size: 15px;
  }
  .content {
    flex-wrap: nowrap;
    display: block;
  }
  .content > div {
    width: 100%;
    display: block;
  }
  .side-imgbox,
  .center-imgbox {
    width: 100%;
  }
  .center-imgbox > div:first-child {
    padding: 0;
  }
  .left-imgbox h3 {
    font-size: calc(120%);
  }
  .right-imgbox {
    display: none;
  }
  .content > div > div:nth-child(odd) img {
    transform: translate(-250%);
    animation: slide 1s ease-in-out forwards;
  }
  .content > div > div:nth-child(even) img {
    transform: translate(250%);
    animation: slide 1s ease-in-out forwards;
  }
  .content > div > div > div:nth-child(even) img {
    transform: translate(-250%);
    animation: slide 1s ease-in-out forwards;
  }
  .content > div > div > div:nth-child(odd) img {
    transform: translate(250%);
    animation: slide 1s ease-in-out forwards;
  }
  .card {
    width: 95%;
    border-radius: 4.4vw;
  }
  .contacts h4,
  .contacts p,
  .contacts a {
    font-size: calc(60%);
  }
}
