.card-content {
  color: aliceblue;
  list-style-type: none;
  padding: 10px 0;
  height: 200px;
}
.card-img {
  width: 100%;
  padding: 0 0 50px 0;
}
.card-content > li {
  padding-left:10px;
  font-size: 20px;
}
.link {
  font-family: "Starjout";
  text-align: center;
  text-decoration: none;
  background-color: #353535;
  color: orange;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 10px;
}
